<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ase-discord-papmaskinen.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1e1b73a6-d1a2-4100-a44a-6f28acd59667/resourcegroups/rg-discord-papmaskinen/providers/Microsoft.Web/sites/ase-discord-papmaskinen</ResourceId>
    <UserName>$ase-discord-papmaskinen</UserName>
    <_SavePWD>true</_SavePWD>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>ase-discord-papmaskinen.scm.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <DeployIisAppPath>ase-discord-papmaskinen</DeployIisAppPath>
    <WebJobType>Continuous</WebJobType>
    <WebJobName>Papmaskinen.Bot</WebJobName>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>