<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://papmaskinen.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1e1b73a6-d1a2-4100-a44a-6f28acd59667/resourcegroups/rg-discord-papmaskinen/providers/Microsoft.Web/sites/Papmaskinen</ResourceId>
    <UserName>$Papmaskinen</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://papmaskinen.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>